{% block content %}
{% load custom_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">
<div class="home-container">
  <header>
    <h2>Hello {{user.display_name}}!</h2>
    <h1>Here are your playlists: [Total: {{page_obj.paginator.count}}]</h1>
  </header>
  <!--Create and populate playlist table-->
  <div>
    <table id="playlists-table">
      <tr>
        <th>
          <a href="?sort_by=name&order={% if sort_by == 'name' and order == 'asc' %}desc{% else %}asc{% endif %}">Playlist</a>
        </th>
        <th>
          <a href="?sort_by=tracks__items__count&order={% if sort_by == 'tracks__items__count' and order == 'asc' %}desc{% else %}asc{% endif %}">Tracks</a>
        </th>
        <th>
          <a href="?sort_by=average_song_length&order={% if sort_by == 'average_song_length' and order == 'asc' %}desc{% else %}asc{% endif %}">Average Song Length</a>
        </th>
        <th>
          <a href="?sort_by=total_duration&order={% if sort_by == 'total_duration' and order == 'asc' %}desc{% else %}asc{% endif %}">Total Duration</a>
        </th>
      </tr>
      {% for playlist in page_obj %}
      <tr>
        <td><a href={% url 'playlist' playlist.spotify_id %}>{{playlist.name}}</a></td>
        <td>{{playlist.tracks.items|length}}</td>
        <td>{{playlist.average_song_length|make_time_readable_minutes}}</td>
        <td>{{playlist.total_duration|make_time_readable_hours}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&sort_by={{sort_by}}&order={{order}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&sort_by={{sort_by}}&order={{order}}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&sort_by={{sort_by}}&order={{order}}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&sort_by={{sort_by}}&order={{order}}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
{% endblock content %}